                        html, body {
                                height: 100%;
                        }

                        body {
                                background-color: #000000;
                                margin: 0;
                                font-family: Helvetica, sans-serif;;
                                //font-family: FreeSans, sans-serif;;
                                overflow: hidden;
                        }

                        a {
                                color: #ffffff;
                        }

                        #info {
                                position: absolute;
                                width: 100%;
                                color: #ffffff;
                                padding: 5px;
                                font-family: Monospace;
                                font-size: 13px;
                                font-weight: bold;
                                text-align: center;
                                z-index: 1;
                        }

                        #menu {
                                position: absolute;
                                bottom: 20px;
                                width: 100%;
                                text-align: center;
                        }

                        .element {
                                width: 720px/*120px*/;
                                height: 480px /*160px*/;
                                //box-shadow: 0px 0px 12px rgba(127,255,255,0.95);
                                box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
                                //border: 1px solid rgba(127,255,255,0.25);
                                text-align: center;
                                cursor: default;
                                //border: 1px solid rgba(127,255,255,0.75);
                        }

                        .element:hover {
                                box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
                                border: 1px solid rgba(127,255,255,0.75);
                        }

                        .element .number {
                                position: absolute;
                                top: 20px;
                                right: 20px;
                                font-size: 12px;
                                color: rgba(127,255,255,0.75);
                        }

                        .element .symbol {
                                position: absolute;
                                top: 40px;
                                left: 0px;
                                right: 0px;
                                font-size: 60px;
                                font-weight: bold;
                                color: rgba(255,255,255,0.75);
                                text-shadow: 0 0 5px rgba(0,255,255,0.55);
                        }

                        .element .image {
                                position: absolute;
                                top: 60px;
                                left: 4px;
                                right: 0px;
                                font-size: 60px;
                                font-weight: bold;
                                color: rgba(255,255,255,0.75);
                                text-shadow: 0 0 5px rgba(0,255,255,0.75);
                        }

                        .element .details {
                                position: absolute;
                                bottom: 15px;
                                left: 10px;
                                right: 0px;
                                font-size: 40px;
                                text-align: left;
                                font-weight: bold;
                                color: rgba(230,255,255,0.75);
                                text-shadow: 0 0 5px rgba(0,255,255,0.75);
                        }

                        .element .progress {
                                position: absolute;
                                width: 200px;
                                height: 160px /*160px*/;
                                //bottom: 15px;
                                //top: 200px;
                                left: 600px;
                                right: 10px;
                                font-size: 40px;
                                text-align: left;
                                font-weight: bold;
                                color: rgba(230,255,255,0.75);
                                text-shadow: 0 0 5px rgba(0,255,255,0.75);
                        }

                        .element .hue-progress {
                                position: absolute;
                                width: 300px;
                                height: 30px /*160px*/;
                                bottom: 140px;
                                //top: 350px;
                                //left: 300px;
                                right: 10px;
                                font-size: 40px;
                                text-align: left;
                                font-weight: bold;
                                color: rgba(230,255,255,0.75);
                                text-shadow: 0 0 5px rgba(0,255,255,0.75);
                        }

                        .element .bri-progress {
                                position: absolute;
                                width: 300px;
                                height: 30px /*160px*/;
                                bottom: 80px;
                                //top: 390px;
                                //left: 300px;
                                right: 10px;
                                font-size: 40px;
                                text-align: left;
                                font-weight: bold;
                                color: rgba(230,255,255,0.75);
                                text-shadow: 0 0 5px rgba(0,255,255,0.75);
                        }

                        .element .sat-progress {
                                position: absolute;
                                width: 300px;
                                height: 30px /*160px*/;
                                bottom: 20px;
                                //top: 430px;
                                //left: 300px;
                                right: 10px;
                                font-size: 40px;
                                text-align: left;
                                font-weight: bold;
                                color: rgba(230,255,255,0.75);
                                text-shadow: 0 0 5px rgba(0,255,255,0.75);
                        }



                        .modalElement {
                                width: 720px/*120px*/;
                                height: 480px /*160px*/;
                                //box-shadow: 0px 0px 12px rgba(127,255,255,0.95);
                                box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
                                //border: 1px solid rgba(127,255,255,0.25);
                                text-align: center;
                                cursor: default;
                                //border: 1px solid rgba(127,255,255,0.75);
                        }

                        .modalElement:hover {
                                box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
                                border: 1px solid rgba(127,255,255,0.75);
                        }

                        .modalElement .number {
                                position: absolute;
                                top: 20px;
                                right: 20px;
                                font-size: 12px;
                                color: rgba(127,255,255,0.75);
                        }

                        .modalElement .icon {
                                position: absolute;
                                top: 20px;
                                right: 20px;
                                font-size: 12px;
                                color: rgba(127,255,255,0.75);
                        }

                        .modalElement .label {
                                position: absolute;
                                top: 40px;
                                left: 0px;
                                right: 0px;
                                font-size: 60px;
                                font-weight: bold;
                                color: rgba(255,255,255,0.75);
                                text-shadow: 0 0 5px rgba(0,255,255,0.55);
                        }

                        .modalElement .value {
                                position: absolute;
                                top: 120px;
                                left: 0px;
                                right: 0px;
                                font-size: 40px;
                                font-weight: bold;
                                color: rgba(255,255,255,0.75);
                                text-shadow: 0 0 5px rgba(0,255,255,0.75);
                        }

                        .modalElement .details {
                                position: absolute;
                                bottom: 15px;
                                left: 0px;
                                right: 0px;
                                font-size: 24px;
                                text-align: left;
                                color: rgba(127,255,255,0.75);
                        }


                        .modalElement .progress {
                                position: absolute;
                                width: 200px;
                                height: 160px /*160px*/;
                                bottom: 15px;
                                top: 200px;
                                left: 600px;
                                right: 10px;
                                font-size: 40px;
                                text-align: left;
                                font-weight: bold;
                                color: rgba(230,255,255,0.75);
                                text-shadow: 0 0 5px rgba(0,255,255,0.95);
                        }


                        .contents_container {
                                position: relative;
                                width: 100%/*120px*/;
                                height: 80% /*160px*/;
                                //box-shadow: 0px 0px 12px rgba(127,255,255,0.95);
                                box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
                                //border: 1px solid rgba(127,255,255,0.25);
                                text-align: left;
                                cursor: default;
                                z-index:4;
                                //text-shadow: 2px 2px #FF0000;
                                //color: rgba(230,255,255,0.75);
                                //border: 1px solid rgba(127,255,255,0.75);
                        }


                        .header_container {
                                position: relative;
                                left: 0;
                                top: 0;
                                //width: 720px/*120px*/;
                                height: 10% /*160px*/;
                                //box-shadow: 0px 0px 12px rgba(127,255,255,0.95);
                                box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
                                //border: 1px solid rgba(127,255,255,0.25);
                                text-align: left;
                                cursor: default;
                                z-index:3;
                                color: rgba(230,255,255,0.75);
                                //border: 1px solid rgba(127,255,255,0.75);
                        }

                        .footer_container {
                                position: fixed;
                                left: 0;
                                bottom: 0;
                                //width: 720px/*120px*/;
                                height: 10% /*160px*/;
                                //box-shadow: 0px 0px 12px rgba(127,255,255,0.95);
                                box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
                                //border: 1px solid rgba(127,255,255,0.25);
                                text-align: center;
                                cursor: default;
                                z-index:2;
                                color: rgba(230,255,255,0.75);
                                //border: 1px solid rgba(127,255,255,0.75);
                        }



                 /*       #player {
                        position:absolute;
                        float:left;
                            //width:100px;
                            height:300px;
                            //min-height:370px;
                            background-color:#000;
                            z-index:1;
                        }
*/
                        video{
                                left: 0;
                                bottom: 0;
                                position: fixed;
                                width: 100%;
                                z-index: 1;
                                background-color:#000000;
                        }



                        p {
                                color: #ffffff;
                        }